<header id="site-header">
	<section class="   w-screen box-border flex-column align-center">
		<div class=" flex justify-around align-center mx-auto bg-plum-lightest pr-2 md:absolute md:right-2 md:top-2 md:bg-white">
			<a href="#" class="font-semibold text-plum ">CLIENTE PORTAL</a>
			<div class="h-5 w-px bg-plum-light md:h-3 md:m-2"></div>
			<a href="#" class="font-semibold text-plum  ">1-800-800-8990</a>
		</div>
		<div
			class=" flex justify-between  align-bottom  bg-white p-2  ">
			{# Verificar altura #}
      		<a href="#"><img
			class="h-24" src="./img/logo.svg"></a>

			{# Parte do Hamburguer --> Ex:2 https://larainfo.com/blogs/tailwind-css-navbar-ui-example #}
			<div class="hidden space-x-8 md:flex  items-center  self-end">
				<a href="#">Our Company</a>
				<a href="#">Our Services</a>
				<a class="btn bg-plum-gradient hover:bg-plum text-white font-bold p-5 rounded-md   " href="#">Schedule a Calll</a>

			</div>
			<div class="flex md:hidden w-8 self-end ">
				<img src="./img/burguer.svg">
			</div>
		</div>
	</section>
</header>
